/* Style the tab */
.dept-tabs-flow {
    margin-top: 20px;
    margin-bottom: 20px;
}

.dept-tabs {
    overflow: hidden;
    width: 80vw;
    margin: auto;
    text-align: center;
}

/* Style the buttons that are used to open the tab content */
.dept-tabs button {
    font-family: Proxima Nova;
    font-weight: bold;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    letter-spacing: 0.05em;
    text-align: center;
    border: 1px solid #8400c7;
    color: #8400c7;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 10px;
    cursor: pointer;
    width: auto;
    transition: 0.3s all ease-in-out;
    background: transparent;
}

/* Change background color of buttons on hover */
.dept-tabs button:hover {
    cursor: pointer;
    background-color: #8400c7;
    color: white;
    font-weight: bold;
}

/* Create an active/current tablink class */
.dept-tabs button.active {
    cursor: pointer;
    background-color: #8400c7;
    color: white;
    font-weight: bold;
}